<h1 class="mt-10 text-2xl font-bold">Edit transaction</h1>

<form method="post" action="/transactions/updateTransaction">
  Enter an address:<input type="text" name="address"><br>
  <input type="submit">
</form>

<form
  method="POST"
  action="/transactions/updateTransaction">
  <input type="hidden" name="itemId" value="<%= item._id %>" />
  <div
    class="my-10 flex max-w-max flex-col justify-center rounded-lg border-2 border-slate-200 px-4 shadow-md dark:border-slate-800">
    <div class="m-3 flex shrink flex-wrap items-center justify-between">
      <div class="">
        <label
          class="mb-0 pr-4 text-right font-bold text-opacity-75 dark:text-slate-300 dark:text-opacity-75"
          for="description"
          >sort by description:</label
        >
      </div>
      <div class="flex flex-wrap">
        <input
          required
          class="w-full appearance-none rounded border-2 border-slate-200 bg-slate-200 px-4 py-2 leading-tight text-slate-700 duration-200 focus:border-sky-400 focus:border-sky-400 focus:outline-none dark:border-slate-800 dark:bg-slate-800 dark:text-slate-400"
          name="description"
          value="<%= item.description %>"
          type="text" />
      </div>
    </div>
    <div class="m-3 flex flex-wrap items-center justify-between">
      <div class="">
        <label
          class="mb-0 pr-4 text-right font-bold text-opacity-75 dark:text-slate-300 dark:text-opacity-75"
          for="amount"
          >sort by amount:</label
        >
      </div>
      <div class="">
        <input
          required
          class="w-full appearance-none rounded border-2 border-slate-200 bg-slate-200 px-4 py-2 leading-tight text-slate-700 duration-200 focus:border-sky-400 focus:border-sky-400 focus:outline-none dark:border-slate-800 dark:bg-slate-800 dark:text-slate-400"
          name="amount"
          value="<%= item.amount %>"
          type="number" />
      </div>
    </div>
    <div class="m-3 flex flex-wrap items-center justify-between">
      <div class="">
        <label
          class="mb-0 pr-4 text-right font-bold text-opacity-75 dark:text-slate-300 dark:text-opacity-75"
          for="category"
          >sort by category:</label
        >
      </div>
      <div class="">
        <input
          required
          class="w-full appearance-none rounded border-2 border-slate-200 bg-slate-200 px-4 py-2 leading-tight text-slate-700 duration-200 focus:border-sky-400 focus:border-sky-400 focus:outline-none dark:border-slate-800 dark:bg-slate-800 dark:text-slate-400"
          name="category"
          value="<%= item.category %>"
          type="text" />
      </div>
    </div>
    <div class="m-3 flex flex-wrap items-center justify-between">
      <div class="">
        <label
          class="mb-0 pr-4 text-right font-bold text-opacity-75 dark:text-slate-300 dark:text-opacity-75"
          for="date"
          >sort by date</label
        >
      </div>
      <div class="">
        <input
          required
          class="w-full w-full appearance-none rounded border-2 border-slate-200 bg-slate-200 px-4 py-2 leading-tight text-slate-700 duration-200 focus:border-sky-400 focus:border-sky-400 focus:outline-none dark:border-slate-800 dark:bg-slate-800 dark:text-slate-400"
          name="date"
          value="<%= normalizeDate(item.date) %>"
          type="date" />
      </div>
    </div>
    <div class="my-5 flex justify-evenly">
      <a
        class="cursor-pointer rounded-lg bg-slate-400 px-4 py-2 text-white duration-200 hover:bg-slate-500 dark:hover:bg-slate-300"
        href="/transactions"
        >Cancel</a
      >
      <input
        class="cursor-pointer rounded-lg bg-sky-400 px-4 py-2 text-white duration-200 hover:bg-sky-300 dark:hover:bg-sky-500"
        type="submit"
        value="Done" />
    </div>
  </div>
</form>
