<h1 class="mt-10 text-2xl font-bold">
    Transactions for <%= user.username.charAt(0).toUpperCase() +
    user.username.slice(1)%>
  </h1>
  <div class="my-5">
    <a
      class="cursor-pointer rounded-lg bg-sky-400 px-4 py-2 text-white duration-200 hover:bg-sky-300 dark:hover:bg-sky-500"
      href="transactions/byCategory"
      >Group by Category</a
    >
  </div>
  
  <p class="text-slate-700 dark:text-slate-400">
    Here is your list of things to do!  </p>
  
  <div
    class="max-h-content relative mb-16 mt-10 overflow-x-auto shadow-md sm:rounded-lg">
    <ul class="list-group">
      <% items.forEach(item => { %>
          <li class="list-group-item">
              <span class="">
                  <% if (item.completed) { %>
                    <a 
                      href="/transactions/uncomplete/<%= item._id %>">
                      <i class="bi bi-check-circle-fill"></i>
                  </a>
                  <% } else {%>
                    <a 
                      href="/transactions/complete/<%= item._id %>">
                      <i class="bi bi-check-circle"></i>
                  </a>
                  <%} %>
                  <a href="/transactions/remove/<%=item._id %>">
                    <i class="bi bi-trash"></i>
                  </a>
              </span>
              <span class="mx-5">
                <%= item.item %>
              </span>
              <span class="badge rounded-pill bg-danger">
                <%= item.priority?item.priority:5 %> 
              </span>
              <a 
                 href="/transactions/edit/<%=item._id %>">
                <i class="bi bi-pencil-square"></i>
            </a>
                
          </li>
  </div>
  
  <form method="post" action="transaction">
    description: <input type="text" name="description">
    <br>
    category: <input type="text" name="category">
    <br>
    amount: <input type="number" name="amount">
    <br>
    date: <input type="date" name="date">
    <br>
    <input type="submit" value="store">
</form>

  